lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

coverage/
doc/
bower_components/

*.iml
.idea/
bs.jpg
*.png
CONTRIBUTING.md
favicon.ico
circle.yml
bower.json
*.start.js
karma.conf.js
test/
src/
junit/
doc/